---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600660709,"sunrise":1600605971,"sunset":1600650010,"temp":291.8,"feels_like":287.54,"pressure":1021,"humidity":32,"dew_point":274.79,"uvi":6.87,"clouds":75,"visibility":10000,"wind_speed":3.6,"wind_deg":110,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1600657200,"temp":291.8,"feels_like":285.05,"pressure":1021,"humidity":32,"dew_point":274.79,"clouds":75,"visibility":10000,"wind_speed":7.17,"wind_deg":110,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1600660800,"temp":294.13,"feels_like":288.94,"pressure":1020,"humidity":29,"dew_point":275.44,"clouds":59,"visibility":10000,"wind_speed":5.08,"wind_deg":126,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1600664400,"temp":295.02,"feels_like":291.4,"pressure":1019,"humidity":28,"dew_point":275.71,"clouds":44,"visibility":10000,"wind_speed":2.91,"wind_deg":160,"weather":[{"id":802,"main":"Clouds","description":"scattered
        c[...]
