---
http_interactions:
- request:
    method: get
    uri: https://www.mountainproject.com/data/get-routes-for-lat-lon?key=200920823-1792c4920c0fa7d0c5851151377ba2ab&lat=39.738453&lon=-104.984853&maxDistance=5&maxResults=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ap-Request-Id:
      - c203855d-5021-44cd-8875-87bbbda1aa88
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "routes": [
                {
                    "id": 106257778,
                    "name": "Dihedral Problem",
                    "type": "Boulder",
                    "rating": "V2",
                    "stars": 4.1,
                    "starVotes": 138,
                    "pitches": "",
                    "location": [
                        "Colorado",
                        "Morrison\/Evergreen\/Littleton",
                        "Alderfer\/Three Sisters Park",
                        "The Eggs",
                        "Trailside Egg"
                    ],
                    "url": "https:\/\/www.mountainproject.com\/route\/106257778\/dihedral-problem",
                    "imgSqSmall": "https:\/\/cdn2.apstatic.com\/photos\/climb\/111149033_sqsmall_1494341357.jpg",
                    "imgSmall": "https:\/\/cdn2.apstatic.com\/photos\/climb\/111149033_small_1494341357.jpg",
                    "imgSmallMed": "https:\/\/cdn2.apstatic.com\/photos\/climb\/111149033_smallMed_1494341357.jpg",
                    "imgMedium": "https:\/\/cdn2.apstatic.com\/photos\/climb\/111149033_medium_1494341357.jpg",
                    "longitude": -105.3445,
                    "latitude": 39.6296
                },
                {
                    "id": 105759813,
                    "name": "Two Jews Blues",
                    "type": "Sport",
                    "rating": "5.10c",
                    "stars": 4.4,
                    "starVotes": 70,
                    "pitches": 3,
                    "location": [
                        "Colorado",
                        "South Platte",
                        "Buffalo Creek",
                        "Little Scraggy[...]
