---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_CONSUMER_KEY>&location=denver,co&thumbMaps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 22 Sep 2020 22:51:55 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853}},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853}}]}]}'
  recorded_at: Tue, 22 Sep 2020 22:51:55 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600815115,"sunrise":1600778883,"sunset":1600822611,"temp":300.71,"feels_like":295.32,"pressure":1020,"humidity":18,"dew_point":274.29,"uvi":6.48,"clouds":75,"visibility":10000,"wind_speed":5.1,"wind_deg":160,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1600812000,"temp":300.71,"feels_like":297.88,"pressure":1020,"humidity":18,"dew_point":274.29,"clouds":75,"visibility":10000,"wind_speed":1.44,"wind_deg":134,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1600815600,"temp":301.79,"feels_like":298.32,"pressure":1017,"humidity":16,"dew_point":273.53,"clouds":43,"visibility":10000,"wind_speed":2.19,"wind_deg":153,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1600819200,"temp":299.07,"feels_like":290.38,"pressure":1016,"humidity":24,"dew_point":276.97,"clouds":35,"visibility":10000,"wind_speed":10.47,"wind_deg":249,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.12},{"dt":1600822800,"temp":294.31,"feels_like":289.07,"pressure":1017,"humidity":41,"dew_point":280.55,"clouds":98,"visibility":10000,"wind_speed":6.62,"wind_deg":192,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.76},{"dt":1600826400,"temp":294.63,"feels_like":291.29,"pressure":1018,"humidity":38,"dew_point":279.73,"clouds":100,"visibility":10000,"wind_speed":3.64,"wind_deg":136,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.76,"rain":{"1h":0.15}},{"dt":1600830000,"temp":293.84,"feels_like":290.82,"pressure":1019,"humidity":41,"dew_point":280.14,"clouds":100,"visibility":10000,"wind_speed":3.3,"wind_deg":138,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.84},{"dt":1600833600,"temp":293.85,"feels_like":291.6,"pressure":1019,"humidity":39,"dew_point":279.71,"clouds":100,"visibility":10000,"wind_speed":1.97,"wind_deg":260,"weather":[{"id":804,"main":"Clouds","description":"ove[...]
