---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_CONSUMER_KEY>&location=denver,co&thumbMaps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 23 Sep 2020 00:11:46 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853}},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853}}]}]}'
  recorded_at: Wed, 23 Sep 2020 00:11:46 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600819906,"sunrise":1600778883,"sunset":1600822611,"temp":297.53,"feels_like":295.82,"pressure":1007,"humidity":29,"dew_point":278.37,"uvi":6.48,"clouds":37,"visibility":10000,"wind_speed":0.89,"wind_deg":245,"wind_gust":3.58,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1600819200,"temp":297.53,"feels_like":289.16,"pressure":1007,"humidity":29,"dew_point":278.37,"clouds":37,"visibility":10000,"wind_speed":10.41,"wind_deg":163,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.16},{"dt":1600822800,"temp":296.98,"feels_like":291.43,"pressure":1012,"humidity":29,"dew_point":277.89,"clouds":68,"visibility":10000,"wind_speed":6.24,"wind_deg":182,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.39},{"dt":1600826400,"temp":296.97,"feels_like":294.49,"pressure":1016,"humidity":28,"dew_point":277.38,"clouds":86,"visibility":10000,"wind_speed":1.72,"wind_deg":219,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.39},{"dt":1600830000,"temp":296.49,"feels_like":293.09,"pressure":1018,"humidity":28,"dew_point":276.97,"clouds":96,"visibility":10000,"wind_speed":2.92,"wind_deg":44,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.47,"rain":{"1h":0.12}},{"dt":1600833600,"temp":294.99,"feels_like":291.83,"pressure":1019,"humidity":31,"dew_point":277.12,"clouds":89,"visibility":10000,"wind_speed":2.62,"wind_deg":35,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.51,"rain":{"1h":0.11}},{"dt":1600837200,"temp":294.63,"feels_like":293.25,"pressure":1020,"humidity":32,"dew_point":277.47,"clouds":91,"visibility":10000,"wind_speed":0.11,"wind_deg":140,"weather":[{"id":804,"main":"Clouds","descri[...]
