---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600788990,"sunrise":1600778883,"sunset":1600822611,"temp":293.29,"feels_like":290.31,"pressure":1019,"humidity":33,"dew_point":276.53,"uvi":6.48,"clouds":0,"visibility":10000,"wind_speed":2.2,"wind_deg":200,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1600786800,"temp":293.29,"feels_like":290.31,"pressure":1019,"humidity":33,"dew_point":276.53,"clouds":0,"visibility":10000,"wind_speed":2.2,"wind_deg":200,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1600790400,"temp":295.44,"feels_like":292.38,"pressure":1019,"humidity":27,"dew_point":275.56,"clouds":0,"visibility":10000,"wind_speed":2.07,"wind_deg":186,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1600794000,"temp":298.24,"feels_like":295.07,"pressure":1018,"humidity":22,"dew_point":275.05,"clouds":0,"visibility":10000,"wind_speed":2.11,"wind_deg":165,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":[...]
