---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1601757993,"sunrise":1601729908,"sunset":1601771929,"temp":291.76,"feels_like":287.85,"pressure":1024,"humidity":27,"dew_point":272.5,"uvi":5.94,"clouds":20,"visibility":10000,"wind_speed":2.6,"wind_deg":360,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1601755200,"temp":291.76,"feels_like":287.73,"pressure":1024,"humidity":27,"dew_point":272.5,"clouds":20,"visibility":10000,"wind_speed":2.76,"wind_deg":76,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1601758800,"temp":292.72,"feels_like":288.97,"pressure":1021,"humidity":26,"dew_point":272.77,"clouds":10,"visibility":10000,"wind_speed":2.43,"wind_deg":62,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1601762400,"temp":293.48,"feels_like":289.89,"pressure":1019,"humidity":24,"dew_point":272.37,"clouds":10,"visibility":10000,"wind_speed":2.11,"wind_deg":51,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":[...]
