---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600709454,"sunrise":1600692427,"sunset":1600736311,"temp":299.38,"feels_like":295.56,"pressure":1024,"humidity":21,"dew_point":275.35,"uvi":6.87,"clouds":20,"visibility":10000,"wind_speed":3.1,"wind_deg":140,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1600707600,"temp":299.38,"feels_like":296.81,"pressure":1024,"humidity":21,"dew_point":275.35,"clouds":20,"visibility":10000,"wind_speed":1.32,"wind_deg":158,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1600711200,"temp":300.46,"feels_like":297.13,"pressure":1021,"humidity":18,"dew_point":274.08,"clouds":10,"visibility":10000,"wind_speed":2.12,"wind_deg":127,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1600714800,"temp":302.05,"feels_like":298.34,"pressure":1018,"humidity":15,"dew_point":272.88,"clouds":4,"visibility":10000,"wind_speed":2.39,"wind_deg":116,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon"[...]
