---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600651822,"sunrise":1600605971,"sunset":1600650010,"temp":297.22,"feels_like":291.5,"pressure":1021,"humidity":23,"dew_point":274.82,"uvi":6.76,"clouds":75,"visibility":10000,"wind_speed":5.7,"wind_deg":350,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"rain":{"1h":0.87}},"hourly":[{"dt":1600650000,"temp":297.22,"feels_like":294.47,"pressure":1021,"humidity":23,"dew_point":274.82,"clouds":75,"visibility":10000,"wind_speed":1.46,"wind_deg":17,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1600653600,"temp":298.77,"feels_like":296.48,"pressure":1019,"humidity":20,"dew_point":274.16,"clouds":85,"visibility":10000,"wind_speed":0.65,"wind_deg":320,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1600657200,"temp":299.15,"feels_like":296.47,"pressure":1018,"humidity":20,"dew_point":274.48,"clouds":91,"visibility":10000,"wind_speed":1.28,"wind_deg":304,"weather":[{"id":804,"main":"Clouds","description":"overcast
       [...]
