---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600892287,"sunrise":1600865338,"sunset":1600908912,"temp":300.93,"feels_like":294.66,"pressure":1023,"humidity":14,"dew_point":271.27,"uvi":7.24,"clouds":40,"visibility":10000,"wind_speed":5.7,"wind_deg":60,"wind_gust":7.7,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1600891200,"temp":300.93,"feels_like":297.1,"pressure":1023,"humidity":14,"dew_point":271.27,"clouds":40,"visibility":10000,"wind_speed":2.21,"wind_deg":61,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1600894800,"temp":301.33,"feels_like":297.84,"pressure":1019,"humidity":15,"dew_point":272.38,"clouds":20,"visibility":10000,"wind_speed":1.96,"wind_deg":43,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1600898400,"temp":301.6,"feels_like":297.89,"pressure":1016,"humidity":14,"dew_point":271.74,"clouds":9,"visibility":10000,"wind_speed":2.14,"wind_deg":5,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"[...]
