---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600745881,"sunrise":1600692427,"sunset":1600736311,"temp":293.75,"feels_like":288.53,"pressure":1022,"humidity":25,"dew_point":273.07,"uvi":6.48,"clouds":40,"visibility":10000,"wind_speed":4.6,"wind_deg":150,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1600743600,"temp":293.75,"feels_like":288.61,"pressure":1022,"humidity":25,"dew_point":273.07,"clouds":40,"visibility":10000,"wind_speed":4.48,"wind_deg":193,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.04},{"dt":1600747200,"temp":295.13,"feels_like":291.21,"pressure":1021,"humidity":26,"dew_point":274.77,"clouds":34,"visibility":10000,"wind_speed":3.12,"wind_deg":206,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.08},{"dt":1600750800,"temp":295.73,"feels_like":292.44,"pressure":1020,"humidity":26,"dew_point":275.28,"clouds":26,"visibility":10000,"wind_speed":2.34,"wind_deg":234,"weather":[{"id":802,"main":"Clouds","description":"scattered[...]
