---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600870211,"sunrise":1600865338,"sunset":1600908912,"temp":287.29,"feels_like":283.27,"pressure":1023,"humidity":47,"dew_point":276.16,"uvi":7.24,"clouds":75,"visibility":10000,"wind_speed":3.6,"wind_deg":190,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1600869600,"temp":287.29,"feels_like":284.29,"pressure":1023,"humidity":47,"dew_point":276.16,"clouds":75,"visibility":10000,"wind_speed":2.14,"wind_deg":222,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1600873200,"temp":291.31,"feels_like":288.4,"pressure":1021,"humidity":36,"dew_point":276.01,"clouds":66,"visibility":10000,"wind_speed":1.97,"wind_deg":217,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1600876800,"temp":295.45,"feels_like":292.58,"pressure":1019,"humidity":27,"dew_point":275.57,"clouds":50,"visibility":10000,"wind_speed":1.8,"wind_deg":230,"weather":[{"id":802,"main":"Clouds","description":"scattered
        cl[...]
