---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600741670,"sunrise":1600692427,"sunset":1600736311,"temp":294.73,"feels_like":291.98,"pressure":1010,"humidity":44,"dew_point":281.97,"uvi":6.87,"clouds":79,"visibility":10000,"wind_speed":3.54,"wind_deg":213,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1600740000,"temp":294.73,"feels_like":291.98,"pressure":1010,"humidity":44,"dew_point":281.97,"clouds":79,"visibility":10000,"wind_speed":3.54,"wind_deg":213,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.23},{"dt":1600743600,"temp":295.39,"feels_like":292.73,"pressure":1014,"humidity":36,"dew_point":279.62,"clouds":73,"visibility":10000,"wind_speed":2.63,"wind_deg":202,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.15},{"dt":1600747200,"temp":295.46,"feels_like":292.51,"pressure":1017,"humidity":33,"dew_point":278.43,"clouds":62,"visibility":10000,"wind_speed":2.68,"wind_deg":192,"weather":[{"id":803,"main":"Clouds","description":"broken
     [...]
