---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600758292,"sunrise":1600778883,"sunset":1600822611,"temp":289.85,"feels_like":285.07,"pressure":1023,"humidity":39,"dew_point":275.84,"uvi":6.48,"clouds":20,"visibility":10000,"wind_speed":4.6,"wind_deg":210,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1600758000,"temp":289.85,"feels_like":287.72,"pressure":1023,"humidity":39,"dew_point":275.84,"clouds":20,"visibility":10000,"wind_speed":0.81,"wind_deg":340,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1600761600,"temp":292.24,"feels_like":289.73,"pressure":1022,"humidity":32,"dew_point":275.18,"clouds":10,"visibility":10000,"wind_speed":1.19,"wind_deg":319,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1600765200,"temp":293.43,"feels_like":290.87,"pressure":1020,"humidity":28,"dew_point":274.35,"clouds":4,"visibility":10000,"wind_speed":1.07,"wind_deg":274,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon"[...]
